/*
 * Template keys:
 *
 * 0 Fields
 * 1 From
 * 2 Where
 * 3 Group
 * 4 Order
 * 5 MainIdColumn

 * [removed] 6 SubIdColumn
 * [removed] 7 SubFromString
 */

DECLARE @NumeratorId INT -- Osoittaja
DECLARE @DenominatorId INT -- Nimittäjä

SELECT
    @NumeratorId = Osoittaja_Tilasto_ID,
    @DenominatorId = Nimittaja_Tilasto_ID
FROM
    DimTilasto_JohdettuTilasto_Jako 
WHERE
    Tilasto_ID = @IdIs

SELECT
    {0}

FROM
    (
        SELECT
            T.Jakso_ID,
            {5} AS S_Alue_ID,
            A.Alkaen_Jakso_ID AS S_Alkaen_Jakso_ID,
            A.Asti_Jakso_ID AS S_Asti_Jakso_ID,
            SUM(Arvo) AS Arvo
        FROM
            FactTilastoarvo T

            INNER JOIN DimAlue A ON
                (A.Alue_ID = T.Alue_ID AND
                (@YearIs BETWEEN A.Alkaen_Jakso_ID AND A.Asti_Jakso_ID) AND
                A.AlueTaso_ID = @DatabaseAreaTypeIdIs
                {2})
        WHERE
            T.Jakso_ID = @YearIs AND
            T.Tilasto_ID = @DenominatorId
        GROUP BY
        {3}
        HAVING SUM(Arvo) != 0 -- Tehdään nollien rajaus mieluummin tässä, jolloin kunta voidaan liittää ulkoliitoksella
    ) Denominator

    -- Numerator voi puuttua, jonka takia liitos LEFT JOINilla
    -- Kysely muuten sama kuin yllä paitsi tilasto_ID-rajaus osoittajatilastolla
    LEFT JOIN (
        SELECT
            T.Jakso_ID,
            {5} AS S_Alue_ID,
            A.Alkaen_Jakso_ID AS S_Alkaen_Jakso_ID,
            A.Asti_Jakso_ID AS S_Asti_Jakso_ID,
            SUM(Arvo) AS Arvo
        FROM
            FactTilastoarvo T

            INNER JOIN DimAlue A ON
                (A.Alue_ID = T.Alue_ID AND
                (@YearIs BETWEEN A.Alkaen_Jakso_ID AND A.Asti_Jakso_ID) AND
                A.AlueTaso_ID = @DatabaseAreaTypeIdIs
                {2})
        WHERE
            T.Jakso_ID = @YearIs AND
            T.Tilasto_ID = @NumeratorId
        GROUP BY
            {3}
    ) Numerator ON
        -- nämä pitäisi joinata ryhmittelyn mukaan, MainIdColumn
        Numerator.S_Alue_ID = Denominator.S_Alue_ID

    -- Liitetään alue ulkoliitoksella jossa valittu rajaus, jotta 
    -- saadaan kaikki alueet tulokseen riippumatta onko niillä tilastoarvoja
    {1}

WHERE Denominator.S_Alue_ID IS NOT NULL

{4}
