SELECT
    {0}

FROM
    DimTilasto_JohdettuTilasto_Summa TS

    INNER JOIN FactTilastoarvo T ON
        T.Tilasto_ID = TS.Yhteenlaskettava_Tilasto_ID AND
        T.Jakso_ID = @YearIs

    INNER JOIN DimAlue A ON
        A.Alue_ID = T.Alue_ID AND
        @YearIs BETWEEN A.Alkaen_Jakso_ID AND A.Asti_Jakso_ID AND
        A.AlueTaso_ID = @DatabaseAreaTypeIdIs
    {5}

    {1}

WHERE
    TS.Tilasto_ID = @IdIs AND
    TS.Ryhma_SEQ = 0
    {2}

GROUP BY
    {3}
    {4}
