<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net configSource="log4net.config" />
  <appSettings>
    <add key="DbDataMarts" value="LiiteriDataMarts" />
    <add key="DbDataIndex" value="LiiteriDataIndex" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxQueryStringLength="100000" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="100000" />
      </requestFiltering>
    </security>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <tracing>
      <traceFailedRequests>
        <add path="*">
          <traceAreas>
            <add provider="ASP" verbosity="Verbose" />
            <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
            <add provider="ISAPI Extension" verbosity="Verbose" />
            <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI" verbosity="Verbose" />
          </traceAreas>
          <failureDefinitions statusCodes="502" />
        </add>
      </traceFailedRequests>
    </tracing>
  </system.webServer>
  <connectionStrings>
    <!--<add name="statisticDataDB" connectionString="data source=C252;initial catalog=LiiteriDataMarts;persist security info=True;user id=user1;password=foobar1234;MultipleActiveResultSets=True" />-->
    <!--<add name="statisticDataDB" connectionString="data source=vps009.sitois.local\kotidw_dev;initial catalog=LiiteriDataMarts;persist security info=True;user id=liiteri;password=li7jbbGG14;MultipleActiveResultSets=True" />-->
    <!--<add name="LiiteriDB" connectionString="data source=10.50.50.11\kotidw_dev;persist security info=True;user id=liiteri;password=li7jbbGG14;initial catalog=LiiteriDataMarts;MultipleActiveResultSets=True" />-->
    <add name="LiiteriDB" connectionString="data source=vps009.sitois.local\kotidw_dev;persist security info=True;user id=liiteri;password=li7jbbGG14;initial catalog=LiiteriDataMarts;MultipleActiveResultSets=True" />

    <!--<add name="LiiteriDB" connectionString="data source=vps009.sitois.local\kotidw_dev;persist security info=True;user id=liiteri;password=li7jbbGG14;initial catalog=LiiteriDataMarts2;MultipleActiveResultSets=True" />-->

    <!--<add name="LiiteriDB" connectionString="data source=ESP015L;persist security info=True;user id=user1;password=foobar1234;initial catalog=LiiteriDataMarts;MultipleActiveResultSets=True" />-->
  </connectionStrings>
</configuration>